@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Equipment Rentals!</h1>
    <p>You can create customers and create rental equipment that are attached to customer Ids.</p>
</div>
